node_modules/
deploy/
*.pyc
bundle.js
bundle.js.gz
.*
*~
*.log
*.sublime-project
*.sublime-workspace
helloWorld/media/

# mysql database configuration file
config.py

# virtual environment
venv/
env/
