<!DOCTYPE html>
<html>
  <head>
    <title>Open Development Initiative - NSIT</title>
    <meta name="description" content="Open Development Initiative - NSIT is the open source development community of Netaji Subhas Institute of Technology and boasts of diverse developers and projects." />
    <meta name="keywords" content="OSS,opensource,development,Open Source,FOSS,nsit,college" />
    <meta name="author" content="Open Development Initiative - NSIT">
    <meta name="robots" content="index, follow" />
    <!-- <script src="https://use.fontawesome.com/67f5f22d83.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css" />
    <link rel="stylesheet" href="/static/css/details.css" />
  </head>
  <body>
    <div id="mainNode"></div>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>
