/******************************************************************************
*******************************************************************************
*******************************************************************************
**************************** ODIN STYLESHEET **********************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	background-color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
}

.main-nav {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.main-nav > ul {
	margin-right: 40px;
}

.main-nav > ul > li {
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.main-nav > ul > li:after {
	content: "";
	display: block;
	background-color: #565656;
	height: 4px;
	width: 0%;
	margin-left: -5px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.main-nav > ul > li.active:after {
	background-color: #42B460;
	width: calc(100% + 10px);
}

.main-nav > ul > li.off:hover:after {
	width: 35%;
}

.main-nav > ul > li > a {
	display: block;
	text-decoration: none;
	outline: none;
	border: none;
	height: 100%;
	font-size: 28px;
	color: #818181;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.main-nav > ul > li.off:hover > a {
	 color: #565656;
}

.main-nav > ul > li.active > a {
	color: #42B460;
}

.repo-card {
	margin-bottom: 5px;
}

.repo-card > figure {
  margin: 0px;
  background-color: #ffffff;
  width: 100%;
	height: 300px;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.repo-card > figure .pic {
	display: block;
	text-decoration: none;
  width: 100%;
	height: 200px;
	/*background-color: #aaa;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/*-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;*/
}

.repo-card > figure .pic:hover {
	/*background-color: #666;*/
	cursor: pointer;
  /*box-shadow: inset 0 0 10px rgba(0,0,0,.3);*/
}

.repo-card > figure:hover .pic span {
	bottom: 0;
}

.repo-card > figure .pic span {
	background-color: #E0E0E0;
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	height: 50px;
	line-height: 50px;
  color: #818181;
	/*box-shadow: inset 0 0 10px rgba(0,0,0,.3);*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.repo-card > figure > figelement > * {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.repo-card > figure > figelement > *:hover {
  cursor: default;
}

.repo-card > .stack-list {
  width: 100%;
	height: 55.5px;
  padding-top: 5px;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.repo-card > .stack-list > i {
  font-size: 48px;
  margin-left: 2px;
  margin-right: 2px;
  text-shadow: 1px 1px #BDBDBD;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.repo-card > .stack-list > i:hover {
  cursor: default;
}

.repo-card > figure:hover + .stack-list {
  opacity: 1;
}

.mem-card{
	margin-bottom: 10px;
	font-size: 2em;
	font-family: sans-serif;
	overflow: hidden;

	-webkit-perspective: 2000;
  perspective: 2000;
}

.mem-card > figure{
	height: 300px;
}

.mem-card .img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	line-height: 300px;
	text-align: center;
	overflow: hidden;

	-webkit-transition: all 1s;
  transition: all 1s;
}

.mem-card:hover .front{
	z-index: 2;
	cursor: pointer;
	-webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mem-card:hover .back{
	z-index: 4;
	-webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.mem-card .front{
	z-index: 5;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
  width: 90% !important;
	height: 90% !important;
}

.mem-card .back{
	z-index: 1;
	background: rgba(0,0,0, .7);
	width: 90%;
	height: 90%;
	-webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mem-card .back .share{
	width: 100%;
	height: 30%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 !important;
}

.share .contact {
	position: relative;
	/*float: left;*/
	width: 60px;
	height: 60px;
	/*left: 60px;*/
	top: -110px;
	/*top: 20px;*/
	color: grey;
}

.share .contact:nth-child(2){
	padding-left: 10px;
}

.share .contact .fa{
	/*position: absolute;*/
}

.share .contact:hover{
	cursor: pointer;
	color: white;
}

.mem-card .back span{
	position: relative;
	color: white;
	width: 100%;
	height: 30px;
	top: -50px;
}

.mem-card .back span:nth-child(1){
	display: block;
}

.mem-card .back span:nth-child(2){
	color: yellow;
	display: inline-block;
	font-size: .6em;
}

@media only screen and (max-width: 768px)
{
	.mem-card>figure{
		height: 68vw;
	}
}

/*<!-- <div style={ cardPic } className="img front"></div> -->*/
/*
<div className="share">
			      {
			        this.props.content.contact.map((r,s) => {
			        	return this.props.content.contact_link.map((v,k) => {
			        		return <a key={k} className="contact" href="v"><i key={s} className={`fa fa-${r}-square`} aria-hidden="true"></i></a>
			        	})
			        })
			      }
			    </div>*/