@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Signika:400);


body {
	background-color: #e3e3e3;
	font-family: 'Signika', sans-serif;
	overflow-y: scroll;
}

.main-nav {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.main-nav > ul {
	margin-right: 40px;
}

.main-nav > ul > li {
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.main-nav > ul > li:after {
	content: "";
	display: block;
	background-color: #565656;
	height: 4px;
	width: 0%;
	margin-left: -5px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.main-nav > ul > li.active:after {
	background-color: #669999;
	width: calc(100% + 10px);
}

.main-nav > ul > li.off:hover:after {
	width: 35%;
}

.main-nav > ul > li > a {
	display: block;
	text-decoration: none;
	outline: none;
	border: none;
	height: 100%;
	font-size: 28px;
	color: #818181;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.main-nav > ul > li.off:hover > a {
	 color: #565656;
}

.main-nav > ul > li.active > a {
	color: #669999;
}

.repo-card {
	margin-bottom: 5px;
}

#details {
	min-height: calc(100% - 100px);
}

.repo-card > figure {
  margin: 0px;
  background-color: #ffffff;
  width: 100%;
	height: 300px;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	margin-bottom: 30px;
}

.repo-card > figure .pic {
	display: block;
	text-decoration: none;
  width: 100%;
	height: 200px;
	/*background-color: #aaa;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/*-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;*/
}

.repo-card > figure .pic:hover {
	/*background-color: #666;*/
	cursor: pointer;
  /*box-shadow: inset 0 0 10px rgba(0,0,0,.3);*/
}

.repo-card > figure:hover .pic span {
	bottom: 0;
}

.repo-card > figure .pic span {
	background-color: #E0E0E0;
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	height: 50px;
	line-height: 50px;
  color: #818181;
	/*box-shadow: inset 0 0 10px rgba(0,0,0,.3);*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.repo-card > figure > figelement > * {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.repo-card > figure > figelement > *:hover {
  cursor: default;
}

.repo-card .stack-list {
  /*width: 100%;*/
  position: absolute;
  top: 0;
  /*padding-left: 10px;*/
  padding: 10px;
  background-color: white;

  /*padding-top: 10px;*/
	height: 43px;
	border-radius: 0 0px 5px 0px;
	box-shadow: 0px 1px 2px 0px lightgrey;
  /*padding-top: 5px;*/
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;

  -webkit-perspective: 6000;
  perspective: 6000;
}

.repo-card:nth-child(3) .stack-list{
	padding:0;
}

.repo-card .stack-list > i {
  font-size: 25px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  text-shadow: 1px 1px #BDBDBD;
  -webkit-user-select: none;
  -moz-user-select: none;
  /*-webkit-transform: rotateY(0deg);*/
  /*transform: rotateY(0deg);*/

  -webkit-transition: all: .5s;
  transition: all .5s;

  /*-webkit-transform: rotateY(30deg);*/
  /*transform: rotateY(30deg);*/
}

.repo-card .stack-list > i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

  /*animation: turn .5s linear forwards;*/
}

@keyframes turn{
	0%{
		transform: scale(1);
	}

	100%{
		transform: scale(1.2);
	}
}

.repo-card > figure:hover .stack-list {
  opacity: 1;
}

.mem-card {
	margin-bottom: 30px;
	font-size: 2em;
	font-family: sans-serif;
	overflow: hidden;

	-webkit-perspective: 2000;
  perspective: 2000;
}

.mem-card > figure {
	position: relative;
	height: 0px;
}

.mem-card .img {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 300px;
	text-align: center;
	overflow: hidden;

	-webkit-transition: all 1s;
  transition: all 1s;
}

.mem-card:hover .front {
	z-index: 2;
	cursor: default!important;
	-webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mem-card:hover .back {
	z-index: 4;
	-webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.mem-card .front {
	z-index: 5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mem-card .back {
	z-index: 1;
	height: 0;
	background: rgba(0,0,0, .7);
	-webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mem-card .back .share {
	width: 100%;
	height: 30%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 !important;
}

.img-circle {
	width: 100%;
	height: auto;
	padding-top: 100%;
}

.share .contact {
	position: relative;
	width: 60px;
	height: 60px;
	top: -110px;
	color: grey;
}

.share .contact:nth-child(2) {
	padding-left: 10px;
}

.share .contact:hover {
	cursor: pointer;
	color: white;
}

.mem-card .back p {
	color: white;
	opacity: 0.7;
	height: 30px;
	width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 30px;
	margin-top: 30px;
	white-space: nowrap;
}

.back p:nth-child(2) {
	color: yellow;
      	font-size: 0.6em;
}

.mem-card .back .info {
 	height: 70%;
	margin-left: auto;
 	margin-right: auto;
  position: absolute;
 	text-align: center !important;
  top: 0;
  width: 100%;
  padding-top: 40%;
	user-select: none;
	-webkit-user-select: none;
	cursor: default!important;
}

.view-transition-enter {
	position: absolute;
	width: 100%;
	top: 0px;
  opacity: 0.01;
}

.view-transition-enter.view-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.view-transition-leave {
  opacity: 1;
}

.view-transition-leave.view-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.err-div {
	width: 100%;
	padding-top: 10%;
	text-align: center;
}

.err-div > i {
	font-size: 128px;
}

.err-div > p {
	font-size: 32px;
}
